@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap");

html {
  font-family: "Lato", sans-serif;
  height: 100vh;
  background-color: gainsboro;
  color: #ffee99;
  background-image: url("../public/images/bun-drop-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

ul {
  list-style-type: none;
  cursor: pointer;
  padding: 0;
}

.footer-icons > li {
  color: #ffee99;
}

.footer-icons > li:hover {
  color: #fff6cc;
}

a {
  text-decoration: none;
  color: #ffdd32;
}

a:hover {
  color: #fff2b2;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.flex-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-div > h2 {
  margin: 20px;
  cursor: pointer;
}

.flex-div > h2:hover {
  color: #fff2b2;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 400px;
  width: 1200px;
  overflow-x: hidden;
  overflow-y: auto;
}

.product-card {
  text-align: center;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(217, 217, 217, 0.5);
}

.product-card-img {
  border-radius: 15%;
  padding: 10px;
  max-width: 200px;
}

.cart-img {
  border-radius: 15%;
  padding: 10px;
  max-width: 75px;
  text-align: end;
}

.add-btn {
  border: none;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #fff2b2;
}

.center-div {
  text-align: center;
  margin-top: 50px;
}

.italic-text {
  font-style: italic;
  font-weight: 100;
}

.margin-right {
  margin-right: 10px;
}

.margin-left {
  margin-left: 20px;
}

.icon-medium {
  font-size: 20px;
}

.home-text {
  font-weight: bold;
}

.logo-header {
  max-width: 100px;
  text-align: center;
  margin-bottom: 10px;
  filter: brightness(10);
}

.header-icon {
  font-size: 20px;
  margin-left: 60px;
  cursor: pointer;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
}

.menu-text {
  margin-top: 50px;
}

.button-div {
  text-align: center;
  margin: 50px;
}

.menu-button {
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.menu-button:hover {
  background-color: #fff2b2;
}

.search-bar {
  border: none;
  border-radius: 10px;
  padding: 10px 35px;
  width: 200px;
}

.input-icon {
  width: 100%;
}

.input-icon svg {
  position: absolute;
  margin: 10px;
}

.menu-products {
  display: flex;
  flex-direction: row;
}

.complete-btn {
  border: none;
  border-radius: 10%;
  padding: 10px;
  margin-top: 50px;
  cursor: pointer;
}

.complete-btn:hover {
  background-color: #fff2b2;
}

.trash-icon {
  cursor: pointer;
}

.checkout-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.flex-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column > input {
  width: 200px;
  border: none;
  border-radius: 10px;
  padding: 5px;
}

.swish-logo {
  max-width: 40px;
}

.card-icon {
  color: black;
}

.underline {
  text-decoration: underline;
}

.favourite-icon {
  cursor: pointer;
}

.fade-in-text {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#scroll-bar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#scroll-bar::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

#scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
