@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap");

html {
  font-family: "Lato", sans-serif;
  height: 100vh;
  background-color: gainsboro;
  color: #ffee99;
  background-image: url("../public/images/bun-drop-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  background-color: rgba(98, 98, 98, 0.8);
  color: #fff2b2;
}

ul {
  list-style-type: none;
  cursor: pointer;
  padding: 0;
}

.footer-icons > li {
  color: #ffee99;
}

.footer-icons > li:hover {
  color: #fffae5;
}

a {
  text-decoration: none;
  color: #ffdd32;
}

h4 {
  margin-top: 25px;
  margin-bottom: 15px;
}

a:hover {
  color: #fff2b2;
}

h3 {
  margin-top: 10px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.flex-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-div > h2 {
  margin: 20px;
  cursor: pointer;
}

.flex-div > h2:hover {
  color: #fff2b2;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 400px;
  width: 1200px;
  overflow-x: hidden;
  overflow-y: auto;
}

.product-card {
  text-align: center;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(70, 70, 70, 0.75);
}

.btn-div {
  margin-top: 20px;
}

.btn-div > span:hover {
  color: #ffd400;
}

.product-card-img {
  border-radius: 15%;
  padding: 10px;
  max-width: 125px;
}

.cart-img {
  border-radius: 15%;
  padding: 5px;
  max-width: 75px;
  text-align: end;
}

.add-btn {
  border: none;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #fff2b2;
  color: rgb(80, 80, 80);
}

.center-div {
  text-align: center;
  margin-top: 10px;
}

.italic-text {
  font-style: italic;
  font-weight: 100;
}

.margin-right {
  margin-right: 10px;
}

.margin-left {
  margin-left: 20px;
}

.bright-text {
  color: #fff2b2;
}

.icon-medium {
  font-size: 20px;
}

.home-text {
  font-weight: bold;
}

.logo-header {
  max-width: 100px;
  text-align: center;
  margin-bottom: 20px;
  filter: brightness(10);
}

.logo-header:hover {
  filter: brightness(7);
}

.header-icon {
  font-size: 20px;
  margin: 0px 35px;
  cursor: pointer;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  margin-right: 20px;
}

.menu-text {
  margin-top: 50px;
}

#log-out-btn {
  margin-top: 100px;
}

.button-div {
  text-align: center;
  margin: 50px;
}

.menu-button {
  font-size: 16px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.menu-button:hover {
  background-color: #fff2b2;
  color: rgb(80, 80, 80);
}

.search-bar {
  border: none;
  border-radius: 10px;
  padding: 10px 35px;
  width: 200px;
  background-color: rgba(120, 120, 120, 0.5);
  color: #ffee99;
}

::placeholder {
  color: rgba(255, 255, 255, 0.51);
}

.input-icon {
  width: 100%;
}

.input-icon svg {
  position: absolute;
  margin: 10px;
}

.menu-products {
  display: flex;
  flex-direction: row;
}

.complete-btn {
  border: none;
  border-radius: 10%;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.flex-column > a {
  margin: 0;
}

.complete-btn:hover {
  background-color: #fff2b2;
  color: rgb(80, 80, 80);
}

.trash-icon {
  cursor: pointer;
}

.checkout-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.flex-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column > input {
  width: 200px;
  border: none;
  border-radius: 10px;
  padding: 5px;
}

.flex-start {
  justify-content: start;
  margin-right: 40px;
}

.swish-logo {
  max-width: 30px;
  margin-left: 40px !important;
}

.card-icon {
  color: #ffee99;
  font-size: 30px;
}

.underline {
  text-decoration: underline;
}

.favourite-icon {
  cursor: pointer;
}

.fade-in-text {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    background-color: rgb(111, 255, 0);
  }
  100% {
    opacity: 1;
  }
}

#scroll-bar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

#scroll-bar::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

#scroll-bar::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, rgb(255, 242, 178), rgba(255, 221, 50, 1));
}

.login-bar {
  border-radius: 10px;
  border: none;
  padding: 5px;
  margin: 10px;
  background-color: rgba(120, 120, 120, 0.8);
  color: #ffee99;
}

.login-btn {
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
}

.login-btn:hover {
  background-color: #fff2b2;
  color: rgb(80, 80, 80);
  cursor: pointer;
}

.password-label {
  margin-left: 5px;
}

.flex-body > form {
  margin-top: 50px;
}

.center-div > a > button {
  margin-top: 20px;
}

.flex-column > h4 {
  color: #ffdd32;
}

.opacity-div-login {
  margin: auto;
  text-align: center;
  width: 400px;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(70, 70, 70, 0.75);
}

.cart-container {
  text-align: center;
}

.cart-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cart-volume-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cart-flex > div {
  margin: 5px;
}

.cart-volume-div > div {
  margin: 5px;
}

.volume-btn {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.volume-btn:hover {
  background-color: #fff2b2;
  color: rgb(80, 80, 80);
}

.bin-div {
  align-items: end;
  justify-content: end;
}

.cart-opacity-div {
  margin: auto;
  max-width: 600px;
  border-radius: 10px;
  background-color: rgba(70, 70, 70, 0.75);
  max-height: 375px;
  width: 1200px;
  overflow-x: hidden;
  overflow-y: auto;
}

#scroll-cart::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

#scroll-cart::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

#scroll-cart::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, rgb(255, 242, 178), rgba(255, 221, 50, 1));
}

.checkout-input {
  border-radius: 10px;
  border: none;
  padding: 5px;
  margin: 10px;
  background-color: rgba(120, 120, 120, 0.8);
  color: #ffee99;
}

.payment-choice-div > * {
  margin: 10px 10px;
}

.input-small {
  width: 85px;
}

.flex-body > .flex-column {
  margin-top: 10px;
}

.flex-div > button {
  margin-top: 20px;
}

.checkout-opacity-div {
  margin: auto;
  max-width: 500px;
  border-radius: 10px;
  background-color: rgba(70, 70, 70, 0.75);
  height: 425px;
  width: 1200px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 20px;
}

.margin-bottom {
  margin-bottom: 25px;
}

.swish-input {
  width: 200px;
}

.dark-bg {
  background-color: rgba(50, 50, 50, 1);
}

.center-div > .flex-div {
  align-items: start;
}

.favourites-list-item {
  text-align: start;
}

.flex-div > h3 {
  margin: 2px 20px;
}

.profile-list {
  margin: 5px 10px;
}

.profile-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon-large {
  font-size: 30px;
}

.margin-top {
  margin-top: 20px;
}

#popup-close-btn {
  margin: 50px;
}

.sm-header-div {
  display: none;
  font-size: 30px;
}

.header-links {
  font-size: 14px;
}

.header-links {
  display: none;
}

.header-links a {
  display: block;
}

@media screen and (max-width: 600px) {
  .xl-header-div {
    visibility: hidden;
  }

  .sm-header-div {
    display: block;
    align-self: flex-start;
    width: 60px;
  }

  .header-links {
    display: none;
    margin-top: 10px;
  }

  .header-icon {
    font-size: 18px;
    padding: 0px;
    margin: 0;
  }

  .user-icon {
    margin-left: 20px;
    margin-right: 20px;
  }

  .logo-header {
    margin-right: 50px;
  }

  .flex-container {
    justify-content: start;
  }

  .footer-container {
    justify-content: center;
  }

  .expand-div {
    display: block;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 350px;
    width: 500px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
